<form class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3" asp-action="AddGroup" method="post">
    <div class="form-group">
        <label for="name">Group name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter group name" name="name">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>
