@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@model CoursesViewModel

<h1>Courses</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model.Courses)
        {
            <tr>
                <th scope="row">@course.Id</th>
                <td>@course.Name</td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-outline-secondary" asp-action="AddCourse">Add course</a>
