@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    var role = User.Claims.First(c => c.Type == ClaimTypes.Role).Value;
}
@model CoursesViewModel
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<h3 class="text-center">Courses</h3>

@if (role == "2")
{
    <div class="border-bottom border-top py-2 mb-3">
        <a class="btn btn-outline-secondary px-4" asp-action="AddCourse">Add</a>
        <a class="btn btn-outline-warning px-4 hidden" id="edit-button" asp-action="EditCourse">Edit</a>
        <a class="btn btn-outline-danger px-4 hidden" id="delete-button" asp-action="DeleteCourse">Delete</a>
    </div>
}
<table class="table table-hover table-bordered" id="js-table">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model.Courses)
        {
            <tr onclick="selectCourse('@course.Id')">
                <td>@course.Name</td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    var selectedCourseId;
    var selectCourse;
    $(document).ready(function () {
        var table = $("#js-table").dataTable();

        $('#js-table tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });

        selectedCourseId = null;
        selectCourse = function (id) {
            if (selectedCourseId !== id) {
                selectedCourseId = id;
                $('#edit-button').removeClass('hidden');
                $('#edit-button').attr('href', '/dashboard/courses/edit/' + selectedCourseId);
                $('#delete-button').removeClass('hidden');
                $('#delete-button').attr('href', '/dashboard/courses/' + selectedCourseId);
            }
            else {
                selectedCourseId = null;
                $('#edit-button').addClass('hidden');
                $('#edit-button').attr('href', '/dashboard/courses/edit/');
                $('#delete-button').addClass('hidden');
                $('#delete-button').attr('href', '/dashboard/courses/');
            }
        }
    });
</script>