@using WebApplication.Helpers.Enums;
@model EditCourseViewModel

<h3 class="text-center">@Model.Mode.ToString() course</h3>

<form class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3" asp-action="@(Model.Mode == Mode.Edit? "EditCourse" : "AddCourse")"  method="post">
    <div class="form-group">
        <label for="name">Course name</label>
        <input type="text" class="form-control" id="name" value="@(Model.Course != null ? Model.Course.Name : "" )" placeholder="Enter course name" name="name">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
