@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    var role = User.Claims.First(c => c.Type == ClaimTypes.Role).Value;
}
@model GroupsViewModel
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<h2>Groups</h2>
@if (role != "1")
{
    <div class="border-bottom border-top py-2 mb-3">
        <a class="btn btn-outline-secondary px-4" asp-action="AddGroup">Add</a>
        <a class="btn btn-outline-warning px-4 hidden" id="edit-button" asp-action="EditGroup">Edit</a>
        <a class="btn btn-outline-danger px-4 hidden" id="delete-button" asp-action="DeleteGroup">Delete</a>
    </div>
}

<table class="table table-hover" id="js-table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model.Groups)
        {
            <tr onclick="selectGroup('@group.Id')">
                <td scope="row">@group.Id</td>
                <td>@group.Name</td>
            </tr>
        }
    </tbody>
</table>
<script>
    var selectedGroupId;
    var selectGroup;
    $(document).ready(function () {
        var table = $("#js-table").DataTable();

        $('#js-table tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });

        selectedGroupId = null;
        selectGroup = function (id) {
            if (selectedGroupId !== id) {
                selectedGroupId = id;
                $('#edit-button').removeClass('hidden');
                $('#edit-button').attr('href', '/dashboard/groups/edit/' + selectedGroupId);
                $('#delete-button').removeClass('hidden');
                $('#delete-button').attr('href', '/dashboard/groups/' + selectedGroupId);
            }
            else {
                selectedGroupId = null;
                $('#edit-button').addClass('hidden');
                $('#edit-button').attr('href', '/dashboard/groups/edit/');
                $('#delete-button').addClass('hidden');
                $('#delete-button').attr('href', '/dashboard/groups/');
            }
        }
    })
</script>