@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@model GroupsViewModel
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<h2 class="text-center">Groups list</h2>
<table class="table table-hover" id="js-table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model.Groups)
        {
            <tr onclick="location.href='@(Url.Action("Assign","Dashboard", new { GroupId = group.Id }))'">

                    <th scope="row">@group.Id</th>
                    <td>@group.Name</td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-outline-secondary" asp-action="AddGroup">Add group</a>
<script type="text/javascript">
    $(document).ready(function () {
        $("#js-table").DataTable();
    });
</script>