@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    var role = User.Claims.First(c => c.Type == ClaimTypes.Role).Value;
}
@model GroupsViewModel
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

<div class="top-bar mb-3">
    <a class="btn btn-outline-secondary px-4" asp-action="AddGroup">Add</a>
    <a class="btn btn-outline-warning px-4" asp-action="EditGroup">Edit</a>
    <a class="btn btn-outline-danger px-4" asp-action="DeleteGroup">Delete</a>
</div>
<table class="table table-hover" id="js-table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model.Groups)
        {
            <tr data-bind="group">
                    <td scope="row">@group.Id</td>
                    <td>@group.Name</td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $("#js-table").DataTable();
        $("#js-table tbody tr").click(x => {
            var row = x.target.parentElement;
            console.log(row);
            @{Model.SelectedGroup = new Group();}
        });
    });
</script>