@model GroupCoursesViewModel
@{
    ViewData["Title"] = "GroupCourse";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    var role = User.Claims.First(c => c.Type == ClaimTypes.Role).Value;
}

<h3 class="text-center">Group-Course-Lecturers</h3>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

<div class="border-bottom border-top py-2 mb-3">
    @if (role == "2")
    {
        <a class="btn btn-outline-secondary px-4" asp-action="AddCourse">Add</a>
        <a class="btn btn-outline-warning px-4 hidden" id="edit-button" asp-action="EditCourse">Edit</a>
        <a class="btn btn-outline-danger px-4 hidden" id="delete-button" asp-action="DeleteCourse">Delete</a>
    }
    else
    {
        <a class="btn btn-outline-secondary px-4 hidden" id="lecture-button" asp-action="StartLesson">Lecture</a>
        <a class="btn btn-outline-secondary px-4 hidden" id="seminar-button" asp-action="StartLesson">Seminar</a>
        <a class="btn btn-outline-secondary px-4 hidden" id="lab-button" asp-action="StartLesson">Lab</a>
        <a class="btn btn-outline-secondary px-4 hidden" id="middle-button" asp-action="StartLesson">Middle</a>
        <a class="btn btn-outline-secondary px-4 hidden" id="final-button" asp-action="StartLesson">Final</a>
    }
</div>

<table class="table table-hover table-striped table-bordered" id="js-table">
    <thead>
        <tr>
            <th scope="col">Lecturer Name</th>
            <th scope="col">Group Name</th>
            <th scope="col">Course Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var groupCourse in Model.GroupCourses)
        {
            <tr onclick="selectRow('@groupCourse.Id')">
                <td>@groupCourse.User.FirstName</td>
                <td>@groupCourse.Group.Name</td>
                <td>@groupCourse.Course.Name</td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    var selectedRowId;
    var selectRow;
    $(document).ready(function () {
        var table = $("#js-table").DataTable();

        $('#js-table tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });

        selectedRowId = null;
        selectRow = function (id) {
            if (selectedRowId !== id) {
                selectedRowId = id;
                $('#lecture-button').removeClass('hidden');
                $('#seminar-button').removeClass('hidden');
                $('#lab-button').removeClass('hidden');
                $('#middle-button').removeClass('hidden');
                $('#final-button').removeClass('hidden');
                $('#lecture-button').attr('href', '/dashboard/lessons/start?groupCourseId=' + selectedRowId + '&type=0');
                $('#seminar-button').attr('href', '/dashboard/lessons/start?groupCourseId=' + selectedRowId + '&type=1');
                $('#lab-button').attr('href', '/dashboard/lessons/start?groupCourseId=' + selectedRowId + '&type=2');
                $('#middle-button').attr('href', '/dashboard/lessons/start?groupCourseId=' + selectedRowId + '&type=3');
                $('#final-button').attr('href', '/dashboard/lessons/start?groupCourseId=' + selectedRowId) + '&type=4';
            }
            else {
                selectedRowId = null;
                $('#lecture-button').addClass('hidden');
                $('#seminar-button').addClass('hidden');
                $('#lab-button').addClass('hidden');
                $('#middle-button').addClass('hidden');
                $('#final-button').addClass('hidden');
                $('#lecture-button').attr('href', './');
                $('#seminar-button').attr('href', './');
                $('#lab-button').attr('href', './');
                $('#middle-button').attr('href', './');
                $('#final-button').attr('href', './');
            }
        }
    })

</script>