@model GroupCourseViewModel
@{
    ViewData["Title"] = "GroupCourse";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    var role = User.Claims.First(c => c.Type == ClaimTypes.Role).Value;
}

<h3 class="text-center">Group-Course-Lecturers</h3>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

@if (role == "2")
{
    <div class="border-bottom border-top py-2 mb-3">
        <a class="btn btn-outline-secondary px-4" asp-action="AddCourse">Add</a>
        <a class="btn btn-outline-warning px-4 hidden" id="edit-button" asp-action="EditCourse">Edit</a>
        <a class="btn btn-outline-danger px-4 hidden" id="delete-button" asp-action="DeleteCourse">Delete</a>
    </div>
}
<table class="table table-hover table-striped table-bordered" id="js-table">
    <thead>
        <tr>
            <th scope="col">Lecturer Name</th>
            <th scope="col">Group Name</th>
            <th scope="col">Course Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var groupCourse in Model.GroupCourses)
        {
            <tr>
                <td>@groupCourse.LecturerName</td>
                <td>@groupCourse.GroupName</td>
                <td>@groupCourse.CourseName</td>
            </tr>
        }
    </tbody>
</table>



<a class="btn btn-outline-secondary" asp-action="AddGroupCourse">Add group course</a>
<script type="text/javascript">
    $(document).ready(function () {
        $("#js-table").DataTable();
    });
</script>