@model LecturersViewModel
@{
    var role = User.Claims.First(c => c.Type == ClaimTypes.Role).Value;
    ViewData["Title"] = "Lecturers";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<h3 class="text-center">Lecturers</h3>
@if (role == "2")
{
    <div class="border-bottom border-top py-2 mb-3">
        <a class="btn btn-outline-secondary px-4" asp-action="AddLecturer">Add</a>
    </div>
}
<table class="table table-hover table-bordered" id="js-table">
    <thead>
        <tr>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">MiddleName</th>
            <th scope="col">BirthDate</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var lecturer in Model.Lecturers)
        {
            <tr>
                <td>@lecturer.FirstName</td>
                <td>@lecturer.LastName</td>
                <td>@lecturer.MiddleName</td>
                <td>@lecturer.BirthDate.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $("#js-table").DataTable();
    });
</script>

