@model LessonsViewModel
@{
    ViewData["Title"] = "GroupCourseLecturer";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    var role = User.Claims.First(c => c.Type == ClaimTypes.Role).Value;
}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<h2 class="text-center">GCL list</h2>
@if (role == "1")
{
    <div class="border-bottom border-top py-2 mb-3">
        <a class="btn btn-outline-secondary px-4 hidden" id="start-button" asp-action="EditGroup">Start</a>
    </div>
}
<table class="table table-hover table-bordered" id="js-table">
    <thead>
        <tr>
            <th scope="col">Group Name</th>
            <th scope="col">Course Name</th>
            <th scope="col">Mark</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var groupCourse in Model.GroupCourses)
        {
            <tr onclick="selectLesson('@groupCourse.GroupCourseId')">
                <td>@groupCourse.GroupName</td>
                <td>@groupCourse.CourseName</td>
                <td>

                    @Html.ActionLink("Show More", "ShowMore", "Dashboard", new { groupCourseId = groupCourse.GroupCourseId })
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    var selectedLessonId;
    var selectLesson;
    $(document).ready(function () {
        var table = $("#js-table").DataTable();

        $('#js-table tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });

        selectedLessonId = null;
        selectLesson = function (id) {
            if (selectedLessonId !== id) {
                selectedLessonId = id;
                $('#start-button').removeClass('hidden');
                $('#start-button').attr('href', '/dashboard/groupcourses/myLessons/start/' + selectedLessonId);
            }
            else {
                selectedLessonId = null;
                $('#start-button').addClass('hidden');
                $('#start-button').attr('href', '/dashboard/groupcourses/myLessons/');
            }
        }
    })
</script>
