@model MyLessonsViewModel
@{
    ViewData["Title"] = "GroupCourseLecturer";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<h2 class="text-center">GCL list</h2>
<table class="table table-hover table-striped table-bordered" id="js-table">
    <thead>
        <tr>
            <th scope="col">Group Name</th>
            <th scope="col">Course Name</th>
            <th scope="col">Mark</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var groupCourse in Model.GroupCourses)
        {
            <tr>
                <td>@groupCourse.GroupName</td>
                <td>@groupCourse.CourseName</td>
                <td>

                    @Html.ActionLink("Show More", "ShowMore", "Dashboard", new { groupCourseId = groupCourse.GroupCourseId })
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $("#js-table").DataTable();
    });
</script>
