@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var role = User.Claims.First(c => c.Type == ClaimTypes.Role).Value;
}
@model DashboradLayoutViewModel
<div class="d-flex dashboard-page">

<div class="nav-wrapper bg-dark">
    <ul class="nav flex-column">

        @{
            string dCoursesTitle = "Courses";
            string dGroupsTitle = "Groups";
            string dStudentsTitle = "Students";


            if (role == "1")
            {
                dCoursesTitle = "My courses";
                dGroupsTitle = "My groups";
                dStudentsTitle = "My students";

            }

        }

        <li class="nav-item text-center py-2 border-bottom">
            <a class="nav-link text-white" asp-area="" asp-controller="Dashboard" asp-action="Info">Info</a>
        </li>
        <li class="nav-item text-center py-2 border-bottom">
            <a class="nav-link text-white" asp-area="" asp-controller="Dashboard" asp-action="Courses">Courses</a>
        </li>
        <li class="nav-item text-center py-2 border-bottom">
            <a class="nav-link text-white" asp-area="" asp-controller="Dashboard" asp-action="Groups">Groups</a>
        </li>
        <li class="nav-item text-center py-2 border-bottom">
            <a class="nav-link text-white" asp-area="" asp-controller="Dashboard" asp-action="Students">Students</a>
        </li>
        @if (role == "1")
        {
            <li class="nav-item text-center py-2 border-bottom">
                <a class="nav-link text-white" asp-area="" asp-controller="Dashboard" asp-action="GroupCourses">Group-Courses</a>
            </li>
            <li class="nav-item text-center py-2 border-bottom">
                <a class="nav-link text-white" asp-area="" asp-controller="Dashboard" asp-action="Lessons">Lessons</a>
            </li>
        }
        else
        {
            <li class="nav-item text-center py-2 border-bottom">
                <a class="nav-link text-white" asp-area="" asp-controller="Dashboard" asp-action="Lecturers">Lecturers</a>
            </li>
            <li class="nav-item text-center py-2 border-bottom">
                <a class="nav-link text-white" asp-area="" asp-controller="Dashboard" asp-action="GroupCourses">GCL</a>
            </li>
        }
    </ul>
</div>
<div class="dashboard p-3">
    @RenderBody()
</div>
</div>